{% extends "network/layout.html" %}

{% load static %}
{% block body %}


<h1 id="docname" hidden></h1>

{% if user.is_authenticated %}
    <div class="card" style="width:80%;">
        <h3 class="card-body">New Post</h3>
        <textarea class="card-body" id="new_post_textarea" style="margin:1rem;"></textarea>
        <button type="button" class="btn btn-primary" id="new_post" style="width:10%;margin-left:1rem;margin-bottom:1rem;">Post</button>
    </div>
{% endif %}

<div>
    <div id="postContainer">
    </div>
    <div id="blockError">
        <h4>No Posts found on this page</h4>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
        </ul>
    </nav>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/index_user_dom.js' %}"></script>
    <script src="{% static 'network/handlepost.js' %}"></script>
{% endblock %}